body {
    background-color: black;
    height: 1500px;

}
body a, article, p{
    color: white;
}
.mainlogo {
    display: flex;
    transition: 1s;
    justify-content: center;
}
.wrapper {
    background-color: #ff5100;
    padding: 0;
}
#flexwrap {
    display: flex;
    flex-flow: row nowrap;
}
.navbar {
    background-color: black;
    padding: 0;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.navbar a {
    border-left: 1px solid #ff5100;
    border-bottom: 1px solid #ff5100;
    border-right: 1px solid #ff5100;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 2rem;
    margin: 0 -2rem;
}
.navbar a:hover {
    border-left: 2px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    color: #ff5100;
}
.main {
    background-color:black;
    width: 100%;
}