body {
    background-color: black;
    width=device
    height: 1500px;
    color: white;
}
.mainlogo {
    display: flex;
    transition: 1s;
    justify-content: center;
}
.wrapper {
    background-color: #ff5100;
    padding: 0;
    position: relative;
}
#flexwrap {
    display: flex;
    flex-flow: row nowrap;
}
.navbar {
    background-color: black;
    padding: 0;
    padding-bottom: 0.5rem;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
}
.navbar a {
    border-left: 1px solid #ff5100;
    border-bottom: 1px solid #ff5100;
    border-right: 1px solid #ff5100;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 2rem;
    margin: 0 -2rem;
    color: white;
}
/* .navbar a:hover {
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    color: #ff5100;
} */
.main {
    background-color:black;
    width: 100%;
    padding-top: 0.5rem;
}